p {
	font-family: courier;
	font-size: 120%;
}

h1 {
	font-family: cambria;
	font-size: 115%;
}
h2 {
	font-family: calibri;
	font-size: 110%;
}
h3 {
	font-family: consolas;
	font-size: 105%;
}
h3 {
	font-family: impact;
	font-size: 111%;
}
table, th, td {
	border: solid blue;
}
a:link {
	text-decoration: none;
}
ul li::marker {
  color: red;
  font-size: 1em;
}